.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  /* If the height is bigger than the screen add a overflow scroll (e.g. main menu list) */
  overflow-y: scroll;
  position: relative;
}

.canvas {
  background-color: var(--background_color);
}
