.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.canvas {
  background-color: var(--background_color);
}

.topRightButton, .topRightButton2 {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--theme_color);
  color: var(--background_color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  width: 2.75rem;
  height: 2.75rem;
  line-height: 0;
  border: solid 0.1rem black;
  /* Make any differences in background-color gradually change over the specified time */
  transition: background-color var(--animation_time), left var(--animation_time), right var(--animation_time);
}

.topLeftButton {
  right: none;
  left: 0.5rem;
}

.topRightButton:hover, .topRightButton2:hover {
  background-color: var(--theme_color_dark);
}

.topRightButton2 {
  top: calc(0.5rem + 3rem);
}
