.container {
  /* Create element as big as screen fixed on the top left of the screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Make it dark to make it seem over everything */
  background-color: rgba(0, 0, 0, 0.8);
  /* Give it a higher z-index to signal it is on top of the other content */
  z-index: 10;
  /* Define direct children again as flex items and stack them one below the other */
  display: flex;
  flex-direction: column;
  /* Center children */
  justify-content: center;
  align-items: center;
}

.buttonList {
  /* Grow to max possible size inside the flex parent */
  flex: 1;
  /* Only grow to a maximum possible size */
  max-width: calc(var(--menus_max_width) - 2rem);
  /* If the height is bigger than the screen add a overflow scroll */
  overflow-y: scroll;
  /* Define direct children again as flex items and stack them one below the other */
  display: flex;
  flex-direction: column;
  /* Add some spacing on the side */
  padding: var(--spacing_default);
  /* Add gap between flex items */
  gap: var(--spacing_default);
  /* Center flex items on the page */
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  gap: var(--spacing_default);
  padding: var(--spacing_default);
  background-color: var(--card_color);
  color: var(--text_color);
  border-radius: var(--border_radius);
  cursor: pointer;
  font-size: var(--font_size_title);
  box-shadow: var(--box_shadow);
  text-align: center;
  border: none;
  /* Make any differences in background-color gradually change over the specified time */
  transition: background-color var(--animation_time);
}

.button:hover,
.button:focus {
  background-color: var(--theme_color);
}

.button img {
  filter: brightness(0);
}

@media (prefers-color-scheme: dark) {
  .button img {
    filter: none;
  }
}
