.overlay {
  /* Create element as big as screen fixed on the top left of the screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Make it dark to make it seem over everything */
  background-color: rgba(0, 0, 0, 0.8);
  /* Give it a higher z-index to signal it is on top of the other content */
  z-index: 10;
  /* Define direct children again as flex items and stack them one below the other */
  display: flex;
  flex-direction: column;
  /* Center children */
  justify-content: center;
  align-items: center;
}

.controls {
  /* Grow to max possible size inside the flex parent */
  flex: 1;
  /* Only grow to a maximum possible size */
  max-width: calc(var(--menus_max_width) - 2rem);
  /* If the height is bigger than the screen add a overflow scroll */
  overflow-y: scroll;
  /* Define direct children again as flex items and stack them one below the other */
  display: flex;
  flex-direction: column;
  /* Add some spacing on the side */
  padding: 1rem;
  /* Add gap between flex items */
  gap: 1rem;
  /* Center flex items on the page */
  align-items: center;
}

.button {
  padding: 1rem;
  background-color: var(--theme_color);
  color: var(--background_color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  border: none;
}

.optionsDialog {
  padding: 1rem;
  background-color: var(--theme_color);
  color: var(--background_color);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  border: none;
}
