/* <dialog> */
.dialog {
  position: relative;
  border: none;
  border-radius: var(--border_radius);
  background-color: transparent;
  /* Scroll elements on smaller screens */
  overflow-y: scroll;
  z-index: 10;
  animation: dialogFadeIn var(--animation_time);
}

/* Hide scrollbar in WebKit browsers */
.dialog::-webkit-scrollbar, .buttonList::-webkit-scrollbar {
  width: 6px;
}
.dialog::-webkit-scrollbar-thumb, .buttonList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Visible when scrolling */
  border-radius: 3px;
}

/* <dialog> backdrop */
.dialog::backdrop {
  background-color: var(--backdrop_color);
  animation: backdropFadeIn var(--animation_time);
}

.buttonList {
  /* Only grow to a maximum possible size */
  max-width: calc(var(--menus_max_width) - 2rem);
  /* If the height is bigger than the screen add a overflow scroll */
  overflow-y: scroll;
  /* Define direct children again as flex items and stack them one below the other */
  display: flex;
  flex-direction: column;
  /* Add some spacing on the side */
  padding: var(--spacing_default_responsive);
  /* Add gap between flex items */
  gap: var(--spacing_default);
  /* Stretch all elements to the maximum width */
  align-items: stretch;
}

.button {
  display: flex;
  flex-direction: row;
  gap: var(--spacing_default);
  padding: var(--spacing_default);
  background-color: var(--card_color);
  color: var(--text_color);
  border-radius: var(--border_radius);
  cursor: pointer;
  font-size: var(--font_size_title);
  box-shadow: var(--box_shadow);
  border: none;
  /* Center content in the middle */
  justify-content: center;
  /* Center select text content in the middle */
  text-align: center;
  /* Make any differences in background-color gradually change over the specified time */
  transition: background-color var(--animation_time), color var(--animation_time);
}

.button:hover,
.button:focus {
  background-color: var(--theme_color);
  color: var(--theme_text_color);
}

.button img {
  filter: brightness(0);
  transition: filter var(--animation_time)
}

.button:hover img,
.button:focus img {
  filter: none;
}

@media (prefers-color-scheme: dark) {
  .button img {
    filter: none;
  }
}
