/* <dialog> */
.dialog {
    position: relative;
    border: none;
    border-radius: var(--border_radius);
    padding: var(--spacing_default);
    max-width: calc(var(--menus_max_width) * 0.8);
    background-color: var(--card_color);
    box-shadow: var(--box_shadow);
    z-index: 10;
    animation: dialogFadeIn var(--animation_time);
}

/* Backdrop styling */
.dialog::backdrop {
    background-color: var(--backdrop_color);
    animation: dialogBackdropFadeIn var(--animation_time);
}

/* Dialog content layout */
.dialogContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing_default);
    color: var(--text_color);
}

.dialogContent p {
    font-size: var(--font_size_default);
}

.dialogButtons {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing_default);
}

.dialogOptionButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing_default);
}

.dialogButtons button, .dialogOptionButtons button {
    padding: var(--spacing_default);
    border: none;
    border-radius: var(--border_radius);
    cursor: pointer;
    color: var(--theme_text_color);
    font-size: var(--font_size_default);
    background-color: var(--theme_color);
    box-shadow: var(--box_shadow);
    transition: background-color var(--animation_time), color var(--animation_time);
}

.dialogButtons button p, .dialogOptionButtons button p {
    margin: 0;
}

.dialogButtons button.cancel {
    background-color: var(--cancel_color);
}

.dialogButtons button:hover {
    background-color: var(--theme_color_alt);
}

.dialogButtons button.cancel:hover {
    background-color: var(--cancel_color_alt);
}

.dialogInputWrapper {
    padding: var(--spacing_default);
}

.input {
    max-width: 100%;
    padding: var(--spacing_default);
    border: 0.1rem solid var(--theme_color);
    border-radius: var(--border_radius);
    background-color: var(--background_color);
    color: var(--text_color);
    font-size: var(--font_size_default);
    text-align: center;
    transition: border var(--animation_time);
}

.input:focus {
    outline: none;
    border: 0.3rem solid var(--theme_color);
}
